.embla {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.embla__container {
  padding: 0;
  width: 100%;
  display: flex;
  will-change: transform;
  gap: 10px;
}

.embla__slide {
  margin: 0;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  min-width: 100%;
  user-select: none;
  cursor: pointer;
}

.embla__slide__inner {
  width: 300px; /* Adjust this value to control the card width */
  margin: 0 auto; /* Center the card */
}

.author {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.embla__slide--wider {
  width: 900px;
  flex: 0 0 calc(100% + 50px);
}

.embla__button_prev,
.embla__button_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.embla__button_prev {
  left: 10px;
}

.embla__button_next {
  right: 10px;
}

.embla__button_prev:hover,
.embla__button_next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 768px) {
  .embla__slide {
    width: calc(33.33% - 10px); /* Display 3 slides on desktop, minus the gap */
    flex: 0 0 calc(33.33% - 10px);
    margin-right: -69%;
    margin-left: auto;
  }
}

@@media screen and (max-width: 767px) {
  .embla__slide {
    width: 100%; /* Display 1 slide on mobile */
    flex: 0 0 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 80%;
  box-sizing: border-box;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.card .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.card .description {
  text-align: center;
  font-size: 14px;
  color: #777;
}

.slideDescription {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.projectCard {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden; /* Ensures the image and content stay within the card boundaries */
  background-color: #000000; /* Or any preferred background color */
}

.projectCard:hover {
  transform: translateY(-10px);
}

.projectCard:active {
  transform: translateY(-5px);
  background-color: rgba(0, 0, 0, 0.9); /* Slightly darker background on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on click */
}

.fullCardLink {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
}
