/* styles/Footer.module.css */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #000000;
    color: #fff;
    border-top: 1px solid #000000;
}
  
.footerLeft, .footerCenter, .footerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.logo {
    width: 50px; /* Adjust as needed */
    height: 50px;
    margin-bottom: 10px;
}
  
.footerCenter ul {
    list-style-type: none;
    padding: 0;
}
  
.footerCenter ul li {
    margin: 5px 0;
}
  
.footerCenter ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}
  
.footerCenter ul li a:hover {
    color: #000000;
}
