/* styles/Footer.module.css */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #000000;
    color: #fff;
    border-top: 1px solid #000000;
}
  
.footerLeft, .footerCenter, .footerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 767px) {
   .footerRight {
    flex-direction: overline;
  }
}

  
.logo {
    width: 50px; /* Adjust as needed */
    height: 50px;
    margin-bottom: 10px;
}
  
.footerCenter ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Add this line */
    gap: 20px; /* Add this line to create some space between the list items */
}

.footerCenter ul li {
    margin: 0; /* Update this line */
}
  
.footerCenter ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}
  
.footerCenter ul li a:hover {
    color: #000000;
}

/* Gradient Text Styles */
.gradientText0 {
    background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradientText1 {
    background: -webkit-linear-gradient(#a79af9, #7aa8d2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradientText2 {
    background: -webkit-linear-gradient(#bfa3da, #743f93);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradientText3 {
    background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Title Styles */
  .title a:hover, .title a:focus, .title a:active {
    text-decoration: underline;
    text-decoration-color: #84309c;
  }

  .socialIcons {
    align-items: center;
    display: flex;
    gap: 10px; /* Adjusts the space between icons */
}

.socialIconsContainer {
  margin-top: 10px; /* Adjusts the space between the team card and the icons */
}

.socialIcons img {
    width: 24px; /* Adjusts the width of the icons */
    height: 24px; /* Adjusts the height of the icons */
}
  
  @media screen and (max-width: 767px) {
    .socialIcons {
      flex-direction: row;
    }
  }
  
  