/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #070707;
  position: fixed; /* This will make the navigation bar fixed */
  top: 0; /* Position it at the top */
  left: 0; /* Position it at the left */
  width: 100%; /* Make it span the full width of the viewport */
  z-index: 1000; /* Ensure it's above other elements */
}

.nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e7e8e8;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  color: #e7e8e8;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu li a:hover {
  background-color: #84309c;
}

/* Container */
.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Gradient Text Styles */
.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Title Styles */
.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title, .description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
  position: relative;
  overflow: hidden;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  max-width: 100%; /* Ensures the image doesn't exceed the width of the card */
  max-height: auto; /* You can adjust this value based on your preference */
  object-fit: cover; /* Resizes the image to cover the container without distorting its aspect ratio */
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.cardImage {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.cardImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover, .card:focus, .card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card, .footer {
  border-color: #222;
}

.logo img {
  filter: invert(1);
}

/* Services */
.services ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Projects */
.projects .project {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero {
  padding-top: 70px; /* Adjust this value based on the actual height of your navigation bar */
  /* ... other styles ... */
}

.team .card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
  width: 100%;
}

.serviceCardsContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap; /* This will ensure that the cards wrap to the next line if there's not enough space */
  width: 100%;
  max-width: 960px; /* Adjust this value based on your desired maximum width for the container */
}

.serviceCard {
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s;
}

.serviceCard:hover {
  transform: translateY(-10px);
}

.serviceIcon {
  width: 60px;
  height: 60px;
}

.serviceCard h3 {
  text-decoration: none;
  font-size: 1.3rem;
  color: #84309c;
}

.serviceCard h4 {
  text-decoration: none;
  font-size: 1.3rem;
  color: #84309c;
}


.serviceCard p {
  font-size: 1rem;
  text-align: center;
}
